#largecache/smallcache
#SPARQL_ENDPOINT=http://db.loci.cat/repositories/smallcache
#SPARQL_ENDPOINT=http://db.loci.cat/repositories/largecache
#ashleys test instance
#SPARQL_ENDPOINT=http://13.238.155.4:7200/repositories/repo-test-1

SPARQL_ENDPOINT=http://13.238.155.4:7200/repositories/repo-test-1
GRAPHDB_USER=ro
GRAPHDB_PASSWORD=changeme
